body {
    margin: 0;
    padding: 0;
    background-color: #f1d392;
    font-family: Arial, sans-serif;
}
select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  background-color: #b4b97b;
  text-align: center;
  font-size: 1em;
  color: #333;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.voltar {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.logo-container {
    text-align: center;
    flex: 1;
}

.logo {
    width: 300px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

input[type="text"], 
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    background-color: #b4b97b;
    text-align: center;
    font-size: 1em;
    color: #333;
}

input::placeholder {
    color: #333;
    font-weight: bold;
}

.btn {
  width: 200px;
  padding: 10px;
  margin: 6px 0;
  background-color: #556b2f;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6a8235;
}

