body {
    margin: 0;
    padding: 0;
    background-color: #f1d392;
    font-family: Arial, sans-serif;
}

a {
color: white;
text-decoration: None;
gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.topo {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 300px;
    height: auto;
}

.btn {
  width: 200px;
  padding: 10px;
  margin: 6px 0;
  background-color: #556b2f;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6a8235;
}
.botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    max-width: 300px;
}

.botao {
    display: inline-block;
    margin-top: 5px;
    padding: 12px 30px;
    background-color: #556b2f;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 20px;
}

.botao:hover {
    background-color: #445522;
}